#body {
    background-color: #474349;
    font-family: 'Palatino', 'URW Palladio L', serif;
}
#logotip {
    width: 200px;
    height: 200px;
}
header {
    color:#ED3365;
    background-color: #322935;
    border: 3px solid #ED3365;
    border-radius: 10px;
    height: 250px;
}
#navigation {
     background-color:#322935;
     color:#ED3365;
     border: 3px solid #ED3365;
     border-radius: 10px;
}
#navigation a {
     color: #ED3365;
     text-decoration: none;
     text-transform: uppercase;
}
#o1 {
    color: #ED3365;
    background-color: #322935;
    border: 3px solid #ED3365;
    border-radius: 10px;
}
#o1 h2 {
    color: #ED3365;
}
#o1 ol {
    list-style: none;
}
#o1 ul {
    list-style: none;
}
#o1 a {
    text-decoration: none;
    color: #ED3365;
}
#o2 {
    color: #ED3365;
    background-color: #322935;
    border: 3px solid #ED3365;
    border-radius: 10px;
}
#o2 h2{
    color: #ED3365;
}
#o2 th, td {
    padding: 10px 20px;
    border: 1px solid #ED3365;
}
#o2 tr:nth-child(odd) {
    background-color: #3D353A
}
#o3 {
    color: #ED3365;
    background-color: #322935;
    border: 3px solid #ED3365;
    border-radius: 10px;
}
#o3 h2 {
    color: #ED3365;
}
footer {
    color: #ED3365;
    background-color: #322935;
    border: 3px solid #ED3365;
    border-radius: 10px;
}

